<mat-toolbar class="border">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-slide-toggle class="mx-4">Dark Mode </mat-slide-toggle>
    <button class="mx-4" mat-raised-button matBadge="8" matBadgePosition="before">
      Action
    </button>
    <img class="h-50 w-10 rounded-lg mx-4" src="/picture.png">
  </mat-toolbar>
  